body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Francois One', sans-serif;
  background-color: #282A36;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #282A36;
  z-index: 10;
}

.navbar-card {
  border-radius: 20px;
  background-color: #44475A;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3vh 10vh;
}

.navbar-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
}

.navbar-card .nav-main {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.main-title h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #FFFFFF;
}

.main-title h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #F8F8F2;
}

.nav-buttons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.nav-buttons a li {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #44475A;
  border: 5px solid #44475A;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 0.75rem;
  margin: 0 0.5rem;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter .2s ease;
}
.nav-buttons a {
  color: #fff;
  text-decoration: none;
}

.nav-buttons a:active li {
  border: 5px solid #579EF2;
}

.nav-buttons .current-page li {
  border: 5px solid #579EF2;
}

.nav-buttons a li:hover {
  filter: brightness(1.1);
}

.empty-space {
  height: 25vh;
  position: relative;
}

.data-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-head {
  margin-bottom: 1.5rem;
}

.section-head h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 50px;
  color: #FFFFFF;
}

.head-line {
  width: 70%;
  height: 5px;
  background-color: #fff;
}

.card-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  height: 60vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  background-color: #44475A;
  border-radius: 15px;
  transition: filter .2s ease;
}

.card:hover {
  filter: brightness(1.1);
}

.card-icon img {
  filter: invert(1);
}

.card-title {
  color: #fff;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 1rem;
  text-align: center;
}

.card-content {
  color: #d5d5d2;
  width: 100%;
}

.card-content ul {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.card-content li {
  list-style: none;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card-content a, .footer-texts a {
  color: #83b3ee;
  text-decoration-color: #83b3ee;
}

footer {
  border-radius: 20px;
  background-color: #44475A;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5vh 5vh;
}

.footer-texts {
  color: #F8F8F2;
}

.footer-texts p {
  margin: 0;
}

.footer-author, .footer-credits {
  margin: 0.75rem 0;
}

.footer-links {
  display: flex;
}

.footer-links a {
  margin: 0 0.5rem;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;   
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media only screen and (max-width: 768px) {
  navbar {
    position: relative;
  }

  .empty-space {
    display: none;
  }

  .navbar-card, footer {
    margin: 1rem;
  }

  .navbar-card img {
    height: 70px;
    width: 70px;
  }

  .main-title h1 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  
  .main-title h2 {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  .navbar-card .nav-main {
    flex-direction: column;
    justify-content: center;
  }

  .nav-buttons {
    flex-direction: column;
    padding: 0;
  }

  .nav-buttons a li {
    width: 100%;
  }

  .footer-texts p {
    font-size: 0.8rem;
  }
}