body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Francois One', sans-serif;
  background-color: #282A36;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.inicio {
  border-radius: 20px;
  background-color: #44475A;
  padding: 1rem;
  margin: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.inicio img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
}

.inicio .inicio-main {
  width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.main-title h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  color: #FFFFFF;
}

.main-title h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #F8F8F2;
}

.inicio-buttons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.inicio-buttons a li {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #44475A;
  border: 5px solid #44475A;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 1.5rem;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter .2s ease;
}

.inicio-buttons a {
  color: #fff;
  text-decoration: none;
}

.inicio-buttons a:active li {
  border: 5px solid #579EF2;
}

.inicio-buttons a li:hover {
  filter: brightness(1.1);
}