body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #0001;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: #303030;
  box-shadow: 0 0 8px 2px #0006;
  margin: 0;
  align-items: center;
}

.header-title a {
  font-size: 1.2rem;
  color: #fffc;
  text-decoration: none;
  letter-spacing: 0.8px;
}

.header-title a:hover {
  color: #fff9;
}

.header-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.header-menu li {
  background-color: #fff4;
  padding: 0.5rem;
  border-radius: 5px;
}

.header-menu li:hover {
  background-color: #fff3;
  cursor: pointer;
}

header .header-menu li a {
  color: #fff;
  text-decoration: none;
}

.card {
  height: 60vh;
  width: 60vw;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #0003;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.data-section {
  padding: 0.75rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-list {
  list-style: circle;
  margin: 1rem 0rem;
  padding: 1rem;
}

.info-list li {
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
}

.card-title {
  font-weight: bold;
  margin: 0.5rem;
}

.image-section img {
  object-fit: fill;
  max-height: 100%;
}

.ver-mais-link {
  text-align: center;
}

.ver-mais-link a {
  background-color: #000a;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.ver-mais-link a:hover {
  background-color: #000b;
}

.info-section {
  height: 80vh;
  padding: 2rem;
  background: #ffffff;
  display: flex;
  gap: 5%;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
  letter-spacing: 1px;
}

.info-section h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.85);
}

.text-section, .map-section, .image-section {
  width: 45%;
}

.text-section {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #0002;
  height: fit-content;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.images img {
  max-height: 50vh;
}